<a href="https://colab.research.google.com/github/jjkcoding/League-Of-Legends-Analysis/blob/main/LOL_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# League Of Legends Data Collection

This notebook is only to collect data through Riot's API for Data Analysis. I will get a list of the current top 150 players, request each players' 50 latest matches, and store the data.

In [1]:
# Import Libraries
import pandas as pd
import requests
import time
import tqdm

# Set Parameters
num_players = 150
num_matches = 50
sleep_timer = 121

In [ ]:
# Set api request sites and get api key
api_base = "https://na1.api.riotgames.com"
api_base2 = "https://americas.api.riotgames.com"
queue_type = "RANKED_SOLO_5x5"
api_key = ""

with open('/content/lol_key.txt') as f:
  api_key = f.read()

In [ ]:
# Call the api for top 150 players
lead_url = api_base + "/lol/league/v4/challengerleagues/by-queue/" + queue_type + "?api_key=" + api_key
lead_resp = requests.get(lead_url)
lead_info = lead_resp.json()

lead_df = pd.DataFrame(lead_info['entries'])
lead_df = lead_df.sort_values(by = "leaguePoints", ascending = False).reset_index(drop = True)[:num_players]
lead_df.head()

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak
0,UaB4zUU8kwQYoMRJ5H9iKX09KXrEdsVZe2uKCDkfY0gx3v...,twtv Gryffinn,1852,I,288,236,True,False,False,True
1,lJLVu4QQGR9MMrzQg_a-r-yUp8QA5wRCQ0zVfbXlqOJWR9...,Iuger,1831,I,148,87,True,False,False,False
2,aH77U_5piaal7Z_bN1knJ5pllBKLqQrfACMgsjlOOBmaWpY,Draven696969,1827,I,355,292,True,False,False,True
3,TscWRn3vyXdpG2pp8SfBmc1N8Y24y5y_IAaieXc9ADsFhtw,DouyinTonyTop,1757,I,254,186,True,False,False,False
4,8Z-v54fwz2YrVS4KXVjrb70aEgIz04qSc2_YKXV4W9rlRvpx,TL Honda APA,1682,I,353,287,True,False,False,False

In [ ]:
# Get only the summonernames
summ_list = lead_df['summonerName']
summ_list[:5] # View head

0    twtv Gryffinn
1            Iuger
2     Draven696969
3    DouyinTonyTop
4     TL Honda APA
Name: summonerName, dtype: object

In [ ]:
# Iterate through each summonername and match with puuid
full_puuid = []

i = 0
while i < len(summ_list):
  puuid_url = api_base + "/lol/summoner/v4/summoners/by-name/" + summ_list[i] + "?api_key=" + api_key
  puuid_resp = requests.get(puuid_url)
  if puuid_resp.status_code  == 404: # In case of error in pull request
    full_puuid.append("")
    print("Summoner: " + summ_list[i] + " did not work")
    i += 1
  elif puuid_resp.status_code  == 429: # Can only pull 100 requests every 2 minutes, so I wait 121 seconds for next pull
    print("Sleeping")
    time.sleep(sleep_timer)
    print("Continue")
  else:
    puuid_info = puuid_resp.json()
    full_puuid.append(puuid_info['puuid'])
    i += 1

lead_df['puuid'] = full_puuid
lead_df = lead_df[lead_df['puuid'] != ""]

# Storing data in case I need to rerun the file without re-running the api
lead_df.to_csv("top150.csv", index = False)
lead_df

Summoner: GG RoseTh0rn did not work
Summoner: Im On Main did not work
Sleeping
Continue

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak,puuid
0,UaB4zUU8kwQYoMRJ5H9iKX09KXrEdsVZe2uKCDkfY0gx3v...,twtv Gryffinn,1852,I,288,236,True,False,False,True,79_Yke3eGSkTfNzXmIKLMhTwaS5hlhk8UoWNFXzVmauxW2...
1,lJLVu4QQGR9MMrzQg_a-r-yUp8QA5wRCQ0zVfbXlqOJWR9...,Iuger,1831,I,148,87,True,False,False,False,MDfV4_SjuO6P-izsWgzD-ooc-M7SZ9T_IlQiJ0BoJgjq3T...
2,aH77U_5piaal7Z_bN1knJ5pllBKLqQrfACMgsjlOOBmaWpY,Draven696969,1827,I,355,292,True,False,False,True,1fKEhmW3w5pmv3epq6HnxxQXrPMyVq-p3jq6szdyGDHgqQ...
3,TscWRn3vyXdpG2pp8SfBmc1N8Y24y5y_IAaieXc9ADsFhtw,DouyinTonyTop,1757,I,254,186,True,False,False,False,6YGd7_WUKmddxJIONbHLZxGegPn9yPzPoAQodzlbzGAos0...
4,8Z-v54fwz2YrVS4KXVjrb70aEgIz04qSc2_YKXV4W9rlRvpx,TL Honda APA,1682,I,353,287,True,False,False,False,9X-yshxbcqUIlbAuNLayIZ88zUvXTc6A4v6QcpWmCgDl9G...
...,...,...,...,...,...,...,...,...,...,...,...
145,d9Zy4T1wyp1iwcZ3aaAp4Xe6budwv4aARp3IY8uqY3Eo6_...,C9 Berzerker,1080,I,241,190,False,False,True,False,Fjm1xHcj-bhssU82BBp6GjiJJ1p6G3tn8n8cvEWkDPSRF1...
146,Pw6lRB-3HGSUaI_XButD8m8epXfE0ARrF98pvu-pTKDHXs...,2 TTV Karhus,1078,I,89,60,False,False,False,False,hJCsX6_G4E-QGM28IBTI_5d3i9TYAVyUb53sWiShslazSj...
147,3TZ_hVfrNmDEXzfbL2aNUPGXNKLQIjH_3J7MvxfUJrW4Dv...,Msjin,1078,I,139,79,False,False,False,False,f4KTCDYgUTvG-170Sn-8H8GvxRsmrEL1o8vJX97kdQpsXf...
148,CLmCItMIzHtKM8aYOanzj4tEyrw-gFWkZQK0oPuGaUSykj...,Pigeon Enjoyer,1078,I,150,109,False,False,False,False,SmAJeuqYsHdG8Jb70qsWP06NdG7H3kO_srLgUrT39FSTwp...
149,vbZCu8mepx8ZRqthKI8HqTCvqFn7v73e_FlVPvM6WHAp2JE,Airflash,1074,I,189,157,False,False,True,False,S0hEBNZO8YrP7EX-SzgtPs24QOW3uu-PcFht5y5OetCtrV...

In [ ]:
# Import data in case I need to come back to the data without re-running api
# lead_df = pd.read_csv("/content/top150.csv")
# lead_df

In [ ]:
# Gather list of matches from all 150 players by puuid
all_match_ids = []
i = 0

while i < len(lead_df['puuid']):
  match_url = api_base2 + "/lol/match/v5/matches/by-puuid/" + lead_df['puuid'][i] + "/ids?start=0&count=" + str(num_matches) + "&api_key=" + api_key
  match_resp = requests.get(match_url)
  if match_resp.status_code  == 404: # In case of error in pull request
    print("Summoner: " + summ_list[i] + " did not work")
    i += 1
  elif match_resp.status_code == 429: # Can only pull 100 requests every 2 minutes, so I wait 121 seconds for next pull
    print("Sleeping")
    time.sleep(sleep_timer)
    print("Continue")
  else:
    match_info = match_resp.json()
    all_match_ids += match_info
    i += 1

all_match_ids = list(set(all_match_ids)) # Get only the unique match ids

# Storing data in case I need to rerun the file without re-running the api
with open('match_list.txt','w') as tfile:
	tfile.write('\n'.join(all_match_ids))

Sleeping
Continue

In [2]:
# Import data in case I need to come back to the data without re-running api
with open('/content/match_list.txt') as f:
  all_match_ids = f.readlines()
  all_match_ids = list(map(lambda x: x.replace("\n", ""), all_match_ids))

print(len(all_match_ids))
print(all_match_ids[:5]) # Print first 5

9527
['NA1_4631164038', 'NA1_4637143046', 'NA1_4670102400', 'NA1_4648531276', 'NA1_4655000752']

In [ ]:
# Gather each teams' data and each players' data from each match of the 150 players
all_player_info = pd.DataFrame()
all_team_info = pd.DataFrame()

i = 0
while i < len(all_match_ids):
  player_dat_url = api_base2 + "/lol/match/v5/matches/" + all_match_ids[i] + "?api_key=" + api_key 
  player_dat_resp = requests.get(player_dat_url) # Returns meta data
  
  if player_dat_resp.status_code  == 404: # In case of error in pull request
    print("Match " + all_match_ids[i] + " did not work")
    i += 1
  elif player_dat_resp.status_code  == 429: # Can only pull 100 requests every 2 minutes, so I wait 121 seconds for next pull
    print("Sleeping")
    time.sleep(sleep_timer)
    print("Continue")
  else:
    # Gather each players' data from each match
    player_dat_info = player_dat_resp.json()
    player_temp_df = pd.DataFrame(player_dat_info['info']['participants'])
    player_temp_df['gameMode'] = [player_dat_info['info']['gameMode']] * len(player_temp_df)
    all_player_info = pd.concat([all_player_info, player_temp_df])

    # Splits the meta data to get only the team data and stores it
    cur_match = player_dat_info['info']['teams']
    for cur_team in range(len(cur_match)):
      temp_team = pd.DataFrame()
      bans = list(map(lambda x: x['championId'], cur_match[cur_team]['bans']))
      temp_team['bans'] =  [" ".join(map(str, bans))]
      temp_obj = cur_match[cur_team]['objectives']
      for obj in temp_obj.keys():
        temp_team["first" + obj.capitalize()] = temp_obj[obj]['first']
        temp_team[obj + "Kills"] = temp_obj[obj]['kills']
      temp_team['gameMode'] = player_dat_info['info']['gameMode']
      temp_team['win'] = cur_match[cur_team]['win']
      all_team_info = pd.concat([all_team_info, temp_team])
    i += 1

all_player_info = all_player_info.reset_index(drop = True)
all_team_info = all_team_info.reset_index(drop = True)

all_player_info.to_csv("all_player_df.csv", index = False)
all_team_info.to_csv("all_team_df.csv", index = False)

In [ ]:
print(all_player_info.shape)
print(all_team_info.shape)

(48210, 124)
(9642, 15)

In [ ]:
all_player_info[:15]

,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,challenges,champExperience,champLevel,...,turretTakedowns,turretsLost,unrealKills,visionClearedPings,visionScore,visionWardsBoughtInGame,wardsKilled,wardsPlaced,win,gameMode
0,0.0,5.0,3.0,0.0,0.0,0.0,0.0,"{'12AssistStreakCount': 0, 'abilityUses': 209,...",11209.0,13.0,...,2.0,9.0,0.0,0.0,14.0,0.0,1.0,6.0,False,CLASSIC
1,0.0,0.0,4.0,0.0,0.0,0.0,0.0,"{'12AssistStreakCount': 0, 'abilityUses': 454,...",9740.0,12.0,...,2.0,9.0,0.0,0.0,28.0,7.0,8.0,6.0,False,CLASSIC
2,2.0,0.0,1.0,0.0,0.0,0.0,1.0,"{'12AssistStreakCount': 0, 'abilityUses': 163,...",10265.0,13.0,...,2.0,9.0,0.0,0.0,23.0,0.0,8.0,4.0,False,CLASSIC
3,0.0,3.0,3.0,0.0,0.0,0.0,0.0,"{'12AssistStreakCount': 0, 'abilityUses': 131,...",8107.0,11.0,...,0.0,9.0,0.0,0.0,8.0,0.0,1.0,7.0,False,CLASSIC
4,1.0,0.0,8.0,0.0,0.0,0.0,0.0,"{'12AssistStreakCount': 0, 'abilityUses': 118,...",6315.0,10.0,...,0.0,9.0,0.0,0.0,56.0,5.0,5.0,26.0,False,CLASSIC
5,2.0,3.0,1.0,0.0,0.0,0.0,0.0,"{'12AssistStreakCount': 0, 'abilityUses': 325,...",11527.0,14.0,...,3.0,4.0,0.0,0.0,16.0,1.0,3.0,9.0,True,CLASSIC
6,2.0,2.0,12.0,0.0,1.0,0.0,2.0,"{'12AssistStreakCount': 0, 'abilityUses': 564,...",11427.0,13.0,...,6.0,4.0,0.0,0.0,35.0,6.0,8.0,8.0,True,CLASSIC
7,0.0,9.0,8.0,24.0,0.0,0.0,2.0,"{'12AssistStreakCount': 0, 'abilityUses': 341,...",11193.0,13.0,...,4.0,4.0,0.0,0.0,27.0,4.0,3.0,14.0,True,CLASSIC
8,0.0,4.0,10.0,0.0,0.0,0.0,5.0,"{'12AssistStreakCount': 0, 'abilityUses': 159,...",11555.0,14.0,...,7.0,4.0,0.0,0.0,22.0,0.0,2.0,8.0,True,CLASSIC
9,0.0,3.0,19.0,0.0,0.0,0.0,1.0,"{'12AssistStreakCount': 0, 'abilityUses': 94, ...",8429.0,11.0,...,5.0,4.0,0.0,1.0,48.0,3.0,1.0,27.0,True,CLASSIC
10,0.0,0.0,3.0,0.0,0.0,0.0,0.0,"{'12AssistStreakCount': 0, 'abilityUses': 133,...",6779.0,10.0,...,0.0,3.0,0.0,0.0,16.0,1.0,2.0,5.0,False,CLASSIC
11,0.0,0.0,3.0,1.0,0.0,0.0,2.0,"{'12AssistStreakCount': 0, 'abilityUses': 484,...",6491.0,10.0,...,0.0,3.0,0.0,0.0,17.0,2.0,3.0,5.0,False,CLASSIC
12,0.0,8.0,2.0,6.0,0.0,0.0,0.0,"{'12AssistStreakCount': 0, 'abilityUses': 190,...",7408.0,11.0,...,1.0,3.0,0.0,0.0,19.0,1.0,4.0,7.0,False,CLASSIC
13,0.0,0.0,3.0,0.0,0.0,0.0,0.0,"{'12AssistStreakCount': 0, 'abilityUses': 164,...",6044.0,9.0,...,0.0,3.0,0.0,0.0,6.0,0.0,0.0,5.0,False,CLASSIC
14,3.0,4.0,4.0,1.0,0.0,0.0,0.0,"{'12AssistStreakCount': 0, 'abilityUses': 48, ...",3920.0,7.0,...,0.0,3.0,0.0,0.0,27.0,5.0,4.0,10.0,False,CLASSIC

In [ ]:
all_team_info[:15]

,bans,firstBaron,baronKills,firstChampion,championKills,firstDragon,dragonKills,firstInhibitor,inhibitorKills,firstRiftherald,riftHeraldKills,firstTower,towerKills,gameMode,win
0,498 122 107 69 902,False,0,False,16,True,2,False,0,True,1,True,4,CLASSIC,False
1,555 29 518 54 497,True,1,True,24,False,1,True,2,False,1,False,9,CLASSIC,True
2,141 350 107 114 121,False,0,True,13,True,1,False,0,False,1,False,1,CLASSIC,False
3,120 222 38 203 54,False,0,False,21,False,0,False,0,True,1,True,3,CLASSIC,True
4,145 9 121 91 136,False,0,False,24,True,1,False,0,False,1,False,4,CLASSIC,False
5,9 518 114 121 134,True,2,True,58,False,3,True,1,True,1,True,7,CLASSIC,True
6,518 85 -1 200 121,False,0,True,9,False,0,False,0,False,0,False,0,CLASSIC,False
7,110 107 104 120 78,False,0,False,16,True,2,False,0,True,1,True,2,CLASSIC,True
8,11 238 111 2 119,False,1,False,63,False,6,False,1,False,0,False,7,CLASSIC,True
9,895 77 35 -1 1,True,2,True,77,True,2,True,2,False,0,True,6,CLASSIC,False
10,16 897 902 104 121,True,1,False,47,False,3,True,3,False,0,False,9,CLASSIC,True
11,121 107 104 498 44,False,1,True,34,True,1,False,1,True,2,True,6,CLASSIC,False
12,119 902 120 200 887,False,0,True,41,True,2,True,1,False,0,True,9,CLASSIC,True
13,134 203 555 119 121,False,0,False,16,False,1,False,0,True,2,False,1,CLASSIC,False
14,203 53 902 -1 498,True,1,False,32,True,3,True,3,True,2,True,10,CLASSIC,True